body {
  background-color: #e5e5e5;
  max-height: 1847px;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3175em;
  font-size: 3.9375em; /*63px */
  font-family: "Asap";
  font-style: regular;
  color: #ffff;
  line-height: 1.2;
  text-align: center;
}

#coloured_h1 {
  color: rgb(245, 197, 6);
}

#cool_h1 {
  flex-direction: column;
  justify-content: center;
}

header {
  height: 4.375em; /*70px*/
  width: 81.25em; /*1300px*/
  padding: 0;
  margin: auto;
}

nav {
  text-align: center;
  display: inline-flex;
  justify-content: flex-end;
  margin-left: 5.625em; /*250px*/
}

.top-menu a {
  display: inline-flex;
  text-decoration: none;
  font-size: 1.125em; /*18px*/
  font-family: "SegoeWP";
  color: rgb(155, 125, 8);
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  line-height: 1.0889em; /*19.6px*/
  text-align: center;
  margin: 0.8333em 0.5555em 0.27778em;
  vertical-align: middle;
}

.bg {
  background: url(assets/images/Layer_20.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#arrows {
  position: relative;
  top: 12.5em; /*200px*/
  left: -6.25em; /*-100px*/
}

section,
footer,
.bg {
  width: 81.25em; /*1300px*/
  margin: auto;
  padding: 2.5em 6.25em 1.25em; /*40px 100px 20px*/
  box-sizing: border-box;
}

#logo {
  margin: 1.25em 1.25em 0 3.75em; /*20px 20px 0px 60px*/
  width: 7%;
}

.TheYalow {
  font-size: 2.625em; /*42px*/
  font-family: "Lucida Sans";
  color: rgb(255, 255, 255);
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
  vertical-align: super;
}

button {
  background-color: #f5c506;
}

button:focus {
  background-color: grey;
}

.cool {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 0;
  padding: 0;
}

picture {
  display: relative;
  max-width: 100%;
  top: -40px;
  align-self: center;
  height: auto;
}

#play_3 {
  position: relative;
  top: 20px;
  left: -280px;
  z-index: 1;
}

#play_4 {
  position: relative;
  top: 23px;
  left: -330px;
}

#video_line,
#video_line_2 {
  position: absolute;
  top: 360px;
  left: 50px;
}

.better_design {
  width: 54.1667em; /*1300px*/
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f7f7;
  font-size: 1.5em; /*24px*/
  color: #000000ab;
  padding: 0;
  padding: 1.6667em 4.1667em 0.8333em; /*40px 100px 20px*/
  box-sizing: border-box;
}

.download,
.customise,
.its_free {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgb(221, 218, 218);
  padding-left: 2.9167em; /*70px*/
  padding-right: 0.4166em; /*10px*/
  height: 8.3333em; /*200px*/
  box-sizing: border-box;
}

span .better_design {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lorem_middle {
  background: url(assets/images/Layer_10.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 31.8125em; /*509px*/
  box-sizing: border-box;
}

.date_square {
  position: relative;
  top: -1.875em; /*-30px*/
  left: 1.875em; /*30px*/
  width: 4.375em; /*70px*/
  height: auto;
  background-color: #d4910b8c;
  padding-left: 1.0625em; /*17px*/
  box-sizing: border-box;
}

.lorem_middle_line {
  position: absolute;
  display: inline-block;
  height: 0.9375em; /*15px*/
  margin-left: 5.625em; /*90px*/
}

.lorem_middle_orange_line {
  position: relative;
  left: -50em; /*-800px*/
  z-index: 1;
  top: -0.0625em; /*-1px*/
}

#bird_icon {
  position: relative;
  left: 1.875em; /*30px*/
  top: 1.875em; /*30px*/
}

.lorem_ipsum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

div .lorem_ipsum {
  width: 14.5625em; /*233px*/
}

.lorem {
  text-align: left;
  font-family: "Lucida Sans";
  font-size: 2em; /*32px*/
  font-weight: normal;
  color: #f7f7f7;
  margin-left: 0.9375em; /*30px*/
}

.yalow {
  color: rgb(245, 197, 6);
  font-family: "Lucida Sans";
  text-align: center;
  align-self: flex-start;
  font-size: 2.375em; /*38px*/
}

.lorem_middle p {
  font-size: 1.5em; /*24px*/
  font-family: "OpenSans";
  color: rgba(255, 255, 255, 0.548);
  line-height: 1.5;
  margin-top: 0;
  position: absolute;
  width: 12.5em; /*300px*/
  height: 2.0417em; /*49px*/
}

#cross_icon {
  position: relative;
  left: 15.4167em;
  top: 10.0833em;
}

.cross_icon_2 {
  position: relative;
  left: 15.4167em;
  top: -10px;
}

#cross_icon:hover {
  animation: 3s spin;
  stroke: green;
}

.cross_icon_2:hover {
  animation: 3s spin;
  stroke: rgb(102, 0, 128);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg:hover #cross_icon {
  animation-play-state: running;
}

#play_1 {
  position: relative;
  top: -10em; /*-170px*/
  left: 1.9em; /*40px*/
  z-index: 2;
}

#play_2 {
  position: relative;
  left: -1.3em; /*-13px*/
  top: -8.8333em; /*-140px*/
  z-index: 1;
}

.lorem_middle_squares img {
  margin: -1.875em 0 -1.875em -5em; /*-30px 0px -30px */
}

.lorem_middle_squares {
  padding: 1.875em; /*30px*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.lorem_middle_squares div {
  padding: 1.875em; /*30px*/
  width: 19.6875em; /*315px*/
  height: 14.5625em; /*233px*/
  box-sizing: border-box;
}

.orange_bg {
  display: absolute;
  background-color: #ec9e03;
}

.orange_bg span {
  color: rgba(255, 255, 255, 0.418);
  font-size: 1.25em; /*20px*/
  position: relative;
  top: -8.5em; /*-170px*/
  left: 12em; /*240px*/
}

ul {
  align-self: flex-end;
  margin-left: 0.7692em; /*20px*/
}

.lorem_low {
  width: 54.1667em; /*1300px*/
  font-size: 1.5em; /*24px*/
  font-family: "PTSans";
  color: rgb(245, 197, 6);
  line-height: 1;
  text-align: start;
  background-color: #474747;
  height: 509px;
  padding-left: 50px;
  box-sizing: border-box;
}

.lorem_low_container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.device_icons {
  position: relative;
}

.ellipse_icon {
  position: absolute;
  left: 90px;
  top: 1px;
  z-index: 1;
}

.banner {
  position: relative;
  top: -90px;
  left: 75px;
  color: #ffff;
  font-size: 16px;
  z-index: 2;
}

.list {
  width: 16.9231em; /*440px*/
  word-wrap: break-word;
  hyphens: manual;
  margin-left: 1.9231em; /*50px*/
  margin-top: 1.154em; /*30px*/
}

li {
  color: #ffffff98;
  margin-bottom: 0.3077em; /*8px*/
}

li::marker {
  color: rgb(245, 197, 6);
  font-size: 1.7em;
}

footer {
  background-color: #474747;
  height: 4.5625em; /*73px*/
  padding: 0.0625em; /*1px*/
  box-sizing: border-box;
}

hr {
  border: none;
  background-color: #000000;
  height: 0.1034em; /*3px*/
}

#logo_footer {
  margin-left: 3.4483em; /*100px*/
}

footer span {
  vertical-align: super;
  margin-left: 0.3448em; /*10px*/
  box-shadow: #2b2a2a;
  font-size: 1.8125em; /*29px*/
}

.footer {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  body {
    height: 1044px;
    font-size: 12px;
  }

  main,
  header,
  section,
  footer {
    width: 640px;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: #474747;
  }

  picture {
    width: 300%;
    height: auto;
  }

  .top-menu {
    font-size: 20px;
  }

  h1,
  .lorem,
  #arrows {
    display: none;
  }

  li {
    display: none;
  }

  .lorem_middle_squares {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .bg {
    background: none;
  }

  .better_design {
    margin-top: -100px;
    padding-right: 30px;
  }
}
